* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Rubik', sans-serif;
    ;
}

.app {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items:center;
}
.product, .cart {
    display: block;
    background-color: blue;
    width: 360px;
    height: 600px;
    border-radius: 30px;
    padding: 0 30px;
}